#FormSignIn {
  display: grid;
  padding: 32px 16px;
  row-gap: 16px;
}

.FormLabel {
  display: flex;
  flex-direction: column;
}

.FormInput {
  margin-top: 16px;
  padding: 16px;
  border: 2px solid black;
}

#FormValidations {
  letter-spacing: 0;
  line-height: 24px;
}

.FormValidation {
  margin: 0px;
}

#FormSubmit {
  background-color: black;
  color: white;
  font-size: 18px;
  height: 52px;
  margin-top: 16px;
  border: none;
}

 @media only screen and (min-width: 768px) {
  #FormSignIn {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
  #email{
    grid-column: 1;
    grid-row: 1;
  }
  #password{
    grid-column: 2;
    grid-row: 1;
  }
  #FormValidations{
    grid-column: 2;
    grid-row: 2;
  }
  #FormSubmit {
    grid-column: 2;
    grid-row: 3;
  }
}
