#FormSignIn {
  display: grid;
  padding: 32px 16px;
  row-gap: 16px;
}

.FormLabel {
  display: flex;
  flex-direction: column;
}

.FormInput {
  margin-top: 16px;
  padding: 16px;
  border: 2px solid black;
}

#FormValidations {
  letter-spacing: 0;
  line-height: 24px;
}

.FormValidation {
  margin: 0px;
}

#FormSubmit {
  background-color: black;
  color: white;
  font-size: 18px;
  height: 52px;
  margin-top: 16px;
  border: none;
}
