form {
  display: grid;
  padding: 32px 16px;
  row-gap: 16px;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 16px;
  padding: 16px;
  border: 2px solid black;
}

.form-validations {
  letter-spacing: 0;
  line-height: 24px;
}

p {
  margin: 0px;
}

.form-submit {
  background-color: black;
  color: white;
  font-size: 18px;
  height: 52px;
  margin-top: 16px;
  border: none;
}
