#NavBar {
  background-color: black;
  color: white;
  margin-bottom: 16px;
  padding: 16px 0px 16px 16px;
  width: 100%;
  font-size: 18px;
}

#NavTitle {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

 @media only screen and (min-width: 768px) {
  #NavBar {
    text-align: center;
    font-size: 24px;
  }
 }
